<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Approval Application System</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="container info-container">

            <div class="res-info">
                <div>
                    <div class="">Name</div>
                    <div class="">{{name_text}}</div>
                </div>
                <div>
                    <div class="">Age</div>
                    <div class="">{{age_text}}</div>
                </div>
                <div>
                    <div class="">Email</div>
                    <div class="">{{email_text}}</div>
                </div>
                <div>
                    <div class="">Phone Number</div>
                    <div class="">{{phno}}</div>
                </div>
                <div>
                    <div class="">Gender</div>
                    <div class="">{{gender_text}}</div>
                </div>
                <div>
                    <div class="">Marital status</div>
                    <div class="">{{married_text}}</div>
                </div>
                <div>
                    <div class="">Dependents</div>
                    <div class="">{{dep_text}}</div>
                </div>
                <div>
                    <div class="">Education Status</div>
                    <div class="">{{grad_text}}</div>
                </div>
                <div>
                    <div class="">Credit History</div>
                    <div class="">{{chistory_text}}</div>
                </div>
                <div>
                    <div class="">Self Employement</div>
                    <div class="">{{emp_text}}</div>
                </div>
                <div>
                    <div class="">Annual Income (in SGD)</div>
                    <div class="">{{aincome_text}}</div>
                </div>
                <div>
                    <div class="">Coapplicant Income (in SGD)</div>
                    <div class="">{{caincome_text}}</div>
                </div>
                <div>
                    <div class="">Loan Amount (in SGD)</div>
                    <div class="">{{loan_text}}</div>
                </div>
                <div>
                    <div class="">Duration of the Loan</div>
                    <div class="">{{dur_text}}</div>
                </div>
                <div>
                    <div class="">Property Region</div>
                    <div class="">{{reg_text}}</div>
                </div>



            </div>

            <div class="separator"></div>

            <div style="text-align:center" class="pred-text">
                <h3 class="pred-text-h3 ">{{ prediction_text }}</h3>
            </div>

        </div>




    </div>










    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>